<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./inc/head.ejs') %>
</head>
<body>
    <%- include('./inc/nav.ejs') %>
        
    <div class="entries container">
      
        <% entries.forEach((entry, index)=>{
          var liked = "/non-liked.svg"
          if ( user && entry.likes.authors.includes(user.username)){
          liked = "/liked.svg"
          }%>
            <hr>
          <h5> <a href="/entry/<%= entry._id %>" class="coloredText underline"><%- entry.topic %> </a>  </h5>
          <div id="<%=entry._id %>" class="entry"><%- entry.entry%></div>
    <% if (user && (user.isAdmin || user.username == entry.author)){ %> <a class="del underline d-flex justify-content-end" href="" data-doc="<%=entry._id%>">Delete</a>%> <% } %>
    <div class="d-flex justify-content-end p-2">
        
        <button class="btn btn-sm like" data-doc="<%=entry._id%>" id="likebtn"> <img class=""src="<%=liked%>" width="25" height="25" class="d-inline-block align"></button><small class="mt-1 pe-2" id="like<%=entry._id%>"><%= entry.likes.count%></small><small class="mt-1 underline " href="/user/<%=entry.author%>">written by <a class="underline" href="/user/<%=entry.author%>"><%=entry.author%></a></small>
        
    </div>
    <small class="d-flex justify-content-end "><%= entry.createdAt.toDateString()%> ~ <%=('0'+entry.createdAt.getHours()).slice(-2)%>:<%=('0'+entry.createdAt.getMinutes()).slice(-2)%></small>

        <%}) %>

      </div>

    
      <%- include('./inc/footer.ejs') %>

    
</body>
</html>